{% extends 'myapp/base.html' %}
{% load static %}

{% block content %}

<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Manage Account</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h2> {{user.username}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <form action="{% url 'change_password' user.id %}" method="get">
                        <button type="submit" class="btn-success"> Change Password</button>
                    </form>
                </div>
                <div class="col-3">
                    <form action="{% url 'delete_account' user.id %}" method="post">
                       {% csrf_token %}
                       <button type="submit" class="btn-danger">Delete Account</button> 
                    </form>
                </div>
                <div class="col-3">
                    <form action="{% url 'view_supplier' %}" method="get">
                        <button type="submit" class="btn-secondary">Back</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}