{% extends 'myapp/base.html' %}
{% load static %}

{% block content %}

<div class = "col-md-8">

    <div class ="card">
        <div class = "card-header">
            <h5 class = "card title"> Water Bottle Details:</h5>
        </div>

        <div class="card-body">
            <h2>{{b.brand}}</h2>
            <p>{{b.sku}}</p>
            <p>{{b.cost}}</p>
            <p>{{b.size}}</p>
            <p>{{b.mouthSize}}</p>
            <p>{{b.color}}</p>
            <p>{{b.currentQuantity}}</p>
            <p>{{b.suppliedBy}}</p>

            <div class = "row">
                <a href="{% url 'view_bottles' %}"class="btn btn-primary">Back</a>
            </div>
            <div class = "row">
                <a href="{% url 'delete_bottle' b.pk %}" class="btn btn-danger">Delete Bottle</a>
            </div>


        </div>
    </div>
</div>
{% endblock %}